.git
.git/**
node_modules
**/node_modules
.venv
**/.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
data
**/data
logs
**/logs
*.tsbuildinfo
.nx
.nx/cache
dist
**/dist
.vscode
.idea
.DS_Store
health-tech
